body{
  overflow-x: hidden;
}

main {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3) 1fr;
  grid-template-rows: repeat(4) 1fr;
  margin-top: 25px;
}

#confirm{
  position: fixed;
  width: 350px;
  height: 350px;
  background-color: rgba(230, 230, 230, 0.8);
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}

#confirm h1{
  width: 100%;
  height: fit-content;  
  margin-top: 6px;   
  margin-bottom: 10px;
}

#confirm h2{
  height: fit-content;
}


button::before{
  content: "x";
  font-size: 40px;
  
}

button{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-style: none;
  border-image: none;
  background-color: rgba(230, 230, 230, 0);
}

.product{
  width: 60%;
  padding-bottom: 25px;
  margin: 10% 20% 10% 20%;
  border: solid transparent 10px;
  transition: all 0.275s ease;
}

.product:hover{
  border: transparent solid 1px;
}

.product-container{
  position: relative;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: solid 3px black;
  padding: -50px;
  margin: 50px;
}

.product-container p {
  font-size: 28pt;
  height: fit-content;
  margin-right: 10px;
  font-weight: 500;
  align-self: flex-end;
}

.product-container h2{
  display: none;
  position: absolute;
  top: 80%;
}

.product-container img:hover ~ h2, .product-container h2:hover{
  display: block;
}

.size-selection{
  display: flex;
  flex-basis: auto;
  flex-grow: 0.4;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 0.5em;
}

.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}
.check-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.check-container input:checked ~ .checkmark {
  background-color: gray;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-container input:checked ~ .checkmark:after {
  display: block;
}

.check-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}


#product1{
  grid-column: 1;
  grid-row: 1;
  width: auto;
}

#product2{
  grid-column: 2;
  grid-row: 1;
}

#product3{
  grid-column: 3;
  grid-row: 1;
}

#product3 img{
  margin-top: 20px;
  margin-bottom: -20px;
}

.line{
  display: none;
  position: absolute;
  grid-column: 1;
  grid-row: 2;
  top: -26px;
  border: solid #434544 2px;
  background-color: #434544 ;
  width: 100%;
  margin-left: 100px;
}

hr:nth-of-type(2){
  grid-row: 3;
}

hr:nth-of-type(3){
  grid-row: 4;
  top: 0;
}

@media screen and (max-width: 880px) {
  main{
    display: block;
  }

  .line{
    display: none;
  }

  .product-container{
    margin: auto;
    text-align: center;
  }
  .product-container p {
    font-size: 22pt;
    text-align: center;
    margin-left: 0px;
  }


}