
img{
    width: 100%;
}
form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

h2{
    font-size: 24px;
    letter-spacing: 1.5px;
}


.contact-input{
    width: 50%;
    margin-top: 30px;
    color: #2e2e2e;
}

.contact-input input{
    border: none;
    border-style: none;
    border-bottom: 1px solid #2e2e2e;
    width: 100%;
    padding: 10px 20px;
    letter-spacing: 1px;
}

.contact-input textarea{
    margin-top: 10px;
    min-height: 180px;
    resize: vertical;
    padding: 20px;
    border: 1px solid #2e2e2e;
    letter-spacing: 1px;
    width: 100%;
}

button{
    border: none;
    height: 40px;
    padding: 0 20px;
    text-align: center;
    position: relative;
    background: #008cb9;
    background: linear-gradient(to right, #008cb9, #0a2d5a);
    cursor: pointer;

}

button span{
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 1.5px;
    

}

@media screen and (max-width: 880px) {
    .contact-input{
        width: 100%;
        
    }
    h2{
        text-align: center;
    }
}