@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Quicksand:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: #ffffff;
  --ligtShadeGreen: #88d6b6;
  --main: #31cdcd;
  --darkShadeBlue: #345771;
  --dark: #000000;
}



.font-quicksand {
  font-family: "Quicksand", serif;
}
.font-eb-garamond {
  font-family: "EB Garamond", serif;
}
