body {
  overflow-x: hidden;
}

#showcase {
  grid-column: 1 /4;
  grid-row: 2;
  width: 100vw;
  display: flex;
  position: relative;
  text-align: center;
  justify-content: space-around;
}

#showcase img {
  max-width: 47.5vw;
  object-fit: cover;
  margin: 2.5vw 0;
  
}

#info-container{
  display: flex;
}

#info-container img{
  width: 47.5vw;
  margin:-8% 2.5vw;


}

#info{
  width: 50%;
  margin: 0 1.25vw;
}



