body {
  overflow-x: hidden;
}

#showcase {
  grid-column: 1 /4;
  grid-row: 2;
  width: 100vw;
  display: flex;
  position: relative;
  text-align: center;
  justify-content: space-around;
}

#showcase img {
  max-width: 47.5vw;
  object-fit: cover;
  margin: 2.5vw 0;
  
}

#info-container{
  display: flex;
  justify-content: space-around;
  width: 100vw;
  grid-column: 1 /4;
  grid-row: 3;
}

#info-container img{
  width: 47.5vw;
  margin-top: -6.5%;
  clip-path: inset(9% 0 46% 0);
  object-fit: cover;
  


}

#info{
  width: 47.5vw;
}

#info p{
  margin-top: 20px;
}



